---
layout: page
---

<style>
table.commandtable {
	background-color: #fff;
	overflow-x: hidden;
	width: 100%;
	display: table;
}

table.commandtable th {
	background-color: #eee;
	display: block;
	width: 100%;
}

table.commandtable tr, td {
	display: block;
	float: left;
	width: 100%;
}

table.commandtable tbody {
	width: 100%;
}

</style>

<div text-align="center" align="center" style="width:90%; left:5%; position:relative;">
NES Tags are commands used by the NES Emulator in N64 & GC Animal Crossing games.</br>
They tell the emulator to set specific settings for the ROM that is being loaded.</br>
This page contains a list of all tags with a description and argument list for each one.</br>
</div>
</br>

<!-- Html Elements for Search -->
<input type="text" id="search-input" placeholder="Search..." onkeyup="search()" class="search-bar">
<br>
<table name="end" class="commandtable">
	<tbody>
		<tr>
			<th>
			END <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">End</h3>
			</th>
			<td>
			Signals the end of command tags. Terminates the parser immediately.
			</td>
		</tr>
	</tbody>
</table>
<table name="veq" class="commandtable">
	<tbody>
		<tr>
			<th>VEQ <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Version Equals</h3></th>
			<td>
			If the byte <b>Version</b> is greater than <font color="#cc0066">0</font>, the next tag will be skipped.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">byte</font></i> Version
			</td>
		</tr>
	</tbody>
</table>
<table name="vne" class="commandtable">
	<tbody>
		<tr>
			<th>VNE <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Version Not Equal</h3></th>
			<td>
			If the byte <b>Version</b> is <font color="#cc0066">0</font>, the next tag will be skipped.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">byte</font></i> Version
			</td>
		</tr>
	</tbody>
</table>
<table name="gid" class="commandtable">
	<tbody>
		<tr>
			<th>GID <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Game ID</h3></th>
			<td>
			The ID of the game. Can be anything.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">char[]</font></i> GameId
			</td>
		</tr>
	</tbody>
</table>
<table name="gnm" class="commandtable">
	<tbody>
		<tr>
			<th>GNM <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Game Name</h3></th>
			<td>
			The name of the game. Can be anything.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">char[]</font></i> GameName
			</td>
		</tr>
	</tbody>
</table>
<table name="cpn" class="commandtable">
	<tbody>
		<tr>
			<th>CPN <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Controller Pack Name</h3></th>
			<td>
			The name of the game's save data. Can be anything.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">char[]</font></i> ControllerPackName
			</td>
		</tr>
	</tbody>
</table>
<table name="ofs" class="commandtable">
	<tbody>
		<tr>
			<th>OFS <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Offset</h3></th>
			<td>
			Sets the write offset/size used in various other tags.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">ushort</font></i> Offset
			</td>
		</tr>
	</tbody>
</table>
<table name="hsc" class="commandtable">
	<tbody>
		<tr>
			<th>HSC <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">High Scores</h3></th>
			<td>
			Tells the emulator that specific area(s) of the ROM should be treated as a high score. If it is the first time loading the game, DefaultValues will be copied starting at CurrentOffset + Offset.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">ushort</font></i> Offset</br>
			<b>Argument #2:</b> <i><font color="#cc0066">char[]</font></i> DefaultValues
			</td>
		</tr>
	</tbody>
</table>
<table name="gno" class="commandtable">
	<tbody>
		<tr>
			<th>GNO <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Game Number</h3></th>
			<td>
			Sets the ROM's game number. This value is used to pull high scores from save data. Limited to between 0 and 31.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">byte</font></i> GameNumber</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="bbr" class="commandtable">
	<tbody>
		<tr>
			<th>BBR <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Battery Backup</h3></th>
			<td>
			Tells the emulator to save an area of RAM as battery backed up memory. Used for storing save data. <b>Offset</b> is added to the current offset value.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">ushort</font></i> Offset</br>
			<b>Argument #2:</b> <i><font color="#cc0066">ushort</font></i> Size</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="qds" class="commandtable">
	<tbody>
		<tr>
			<th>QDS <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Quick Disk Save</h3></th>
			<td>
			Tells the emulator to save an area of RAM as a Famicom Quick Disk save file. Used for storing save data. <b>OffsetUpper</b> and <b>OffsetLower</b> are concatenated to make a 24-bit value that is added to the current offset value.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">byte</font></i> OffsetUpper</br>
			<b>Argument #2:</b> <i><font color="#cc0066">ushort</font></i> OffsetLower</br>
			<b>Argument #3:</b> <i><font color="#cc0066">ushort</font></i> Size</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="spe" class="commandtable">
	<tbody>
		<tr>
			<th>SPE <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Special</h3></th>
			<td>
			Sets up specific patches to the currently loaded ROM. Only used in <i>The Legend of Zelda</i>.</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="tcs" class="commandtable">
	<tbody>
		<tr>
			<th>TCS <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Tags Checksum</h3></th>
			<td>
			Calculates a checksum for the tag data. If the additive checksum isn't equal to 0, the tags are considered corrupted & the parser immediately stops execution.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">ushort</font></i> TagsChecksumInverse</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="ics" class="commandtable">
	<tbody>
		<tr>
			<th>ICS <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Image Checksum</h3></th>
			<td>
			Calculates a checksum for the NES ROM Image. If the additive checksum isn't equal to 0, the ROM is considered corrupted.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">ushort</font></i> ImageChecksumInverse</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="esz" class="commandtable">
	<tbody>
		<tr>
			<th>ESZ <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Expanded Size</h3></th>
			<td>
			Sets the emulator's ROM expanded size parameter. <b>ExpandSize</b> is the expanded size shifted right by 4.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">ushort</font></i> ExpandSize</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="rom" class="commandtable">
	<tbody>
		<tr>
			<th>ROM <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">ROM Data Reference</h3></th>
			<td>
			Loads another NES ROM from the internal list using <b>RomId</b> to determine which ROM to load. The original tags for the ROM loaded are not used.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">byte</font></i> RomId</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="mov" class="commandtable">
	<tbody>
		<tr>
			<th>MOV <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Move Data (Block Transfer)</h3></th>
			<td>
			Moves a section of data in the ROM from one location to another. <b>WriteAddress</b> and <b>ReadAddress</b> are shifted right by four.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">ushort</font></i> WriteAddress</br>
			<b>Argument #2:</b> <i><font color="#cc0066">ushort</font></i> ReadAddress</br>
			<b>Argument #3:</b> <i><font color="#cc0066">ushort</font></i> Size</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="nhd" class="commandtable">
	<tbody>
		<tr>
			<th>NHD <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">NES Header Data</h3></th>
			<td>
			Copies <b>HeaderData</b> to the iNES ROM's header. The size of the copy is determined by the Tag's argument size byte.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">byte[]</font></i> HeaderData</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="dif" class="commandtable">
	<tbody>
		<tr>
			<th>DIF <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Difference</h3></th>
			<td>
			Patches multiple sections of the ROM using data from <b>DifferenceData</b>. This command supports multiple changes. To end the changes, set the final <b>OffsetFromLastDifference</b> to 0xFFFFFFFF.</br>
			<b> Argument #1:</b> <i><font color="#cc0066">uint</font></i> OffsetFromLastDifference</br>
			<b> Argument #2:</b> <i><font color="#cc0066">int</font></i> DifferenceSize</br>
			<b> Argument #3:</b> <i><font color="#cc0066">byte[]</font></i> DifferenceData</br>
			<b> Repeats</b>
			</td>
		</tr>
	</tbody>
</table>
<table name="pat" class="commandtable">
	<tbody>
		<tr>
			<th>PAT <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Patch</h3></th>
			<td>
			Writes <b>PatchData</b> to a memory address which is calculated using <b>PatchType</b> and <b>PatchOffset</b>.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">byte</font></i> PatchType</br>
			<font color="#000000"><pre>    <b>[N64]</b> If PatchType is 1, the write address is set to the address of enables[PatchOffset].</pre>
			<pre>    If PatchType is 2, the write address will be the address of the ROM + PatchOffset.</pre>
			<pre>    <b>[N64]</b> If PatchType is 3, the write address is set to osAppNMIBuffer + PatchOffset.</pre>
			<pre>    <b>[GC]</b> If PatchType is 3, the patch is skipped.</pre>
			<pre>    <b>[N64]</b> If PatchType is 4, the write address is set to _ovl_famicom_emuSegmentTextStart + PatchOffset * 4.</pre>
			<pre>    <b>[N64]</b> If PatchType is 5, the write address is set to _ovl_famicom_emuSegmentDataStart + PatchOffset * 4.</pre>
			<pre>    <b>[N64]</b> If PatchType is 6, the write address is set to _ovl_famicom_emuSegmentBssStart + PatchOffset * 4.</pre>
			<pre>    <b>[GC]</b> If PatchType is 9, the write address will be the address of the ROM + PatchOffset &lt&lt 4.</pre>
			<pre>    If PatchType is &gt= 0x80, the write address will be ((0x7F80 + PatchType) &lt&lt 16) | PatchOffset.</pre></font></br>
			<b>Argument #2:</b> <i><font color="#cc0066">byte</font></i> PatchSize</br>
			<pre>    Has a maximum size of 0xFB.</pre>
			<pre>    A Tag's argument max length is 0xFF and the arguments take up the first four bytes.</pre></br>
			<b>Argument #3:</b> <i><font color="#cc0066">ushort</font></i> PatchOffset</br>
			<b>Argument #4:</b> <i><font color="#cc0066">byte[]</font></i> PatchData</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="pad" class="commandtable">
	<tbody>
		<tr>
			<th>PAD <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Padding</h3></th>
			<td>
			Used as padding for alignment. Does not affect anything.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">byte[]</font></i> Padding</br>
			</td>
		</tr>
	</tbody>
</table>

<h2>Unused Tags</h2>
<table name="fil" class="commandtable">
	<tbody>
		<tr>
			<th>FIL <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">WRAM Initialization Fill Data</h3></th>
			<td>
			Copies data to initialize WRAM. Unused in GC titles.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">byte*</font></i> FillDataPtr</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="isz" class="commandtable">
	<tbody>
		<tr>
			<th>ISZ <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Image Size</h3></th>
			<td>
			Specifies the size of the ROM image. It is unused in all versions.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">ushort</font></i> ImageSize</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="ifm" class="commandtable">
	<tbody>
		<tr>
			<th>IFM <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Image Format</h3></th>
			<td>
			The ROM Image format. Goes unused in all versions.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">byte</font></i> ImageFormat</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="rem" class="commandtable">
	<tbody>
		<tr>
			<th>REM <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Remarks</h3></th>
			<td>
			Holds comments about the ROM.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">char[]</font></i> Remarks</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="apl" class="commandtable">
	<tbody>
		<tr>
			<th>APL <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Application Info</h3></th>
			<td>
			Holds information about the ROM image for use in other applications. Goes unused in the emulator.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">byte[]</font></i> Info</br>
			</td>
		</tr>
	</tbody>
</table>
<table name="fgn" class="commandtable">
	<tbody>
		<tr>
			<th>FGN <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Full Game Name</h3></th>
			<td>
			The full game name in Shift-JIS encoding. Unused in emulator.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">byte[]</font></i> FullGameName</br>
			</td>
		</tr>
	</tbody>
</table>

<section>

	<script>
	function search() {
		var input = document.getElementById("search-input");
		var filter = input.value.toLowerCase();
		var tagTables = document.getElementsByClassName("commandtable");
		
		for (var i = 0; i < tagTables.length; i++) {
			if (tagTables[i].getAttribute("name").indexOf(filter) !== -1) {
				tagTables[i].style.display = "table";
			}
			else {
				tagTables[i].style.display = "none";
			}
		}
	}
	</script>

</section>